/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/


body {
    background-color: rgb(238, 205, 161);
    text-align: center;
}

h1 {
    color: rgb(6, 6, 110);
    font-family: 'Merriweather', serif;
    font-size: 55px;
}

#foto {
    display: block;
    border-radius: 10%;
    margin: auto;
    border: 5px solid black;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 49, 49);
    font-size: 35px;
}

h3 {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

li {
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;

}

.per {
    font-size: 35px;
    color: #310131;
    font-family: 'Montserrat', sans-serif;
}

.caja {
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 10px 15px 5px rgb(231, 109, 65);
    margin: 0 450px;
    background-color: chocolate;
}

p {
    font-family: 'Montserrat', sans-serif;

}

.iconos {
    font-size: 50px;
}